body{
  background-color: #acacac!important;
  color: black!important;
}

img{
  border-radius: 10px;
}

.image-container {
  position: relative;
}

.zoomable {
  cursor: pointer;
  transition: transform 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay.active {
  display: flex;
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
}

#carrouselControl{
  opacity: 0.1;
  padding: 5px;
  border-radius: 100px;
  background-color:beige;
  height: 50px;
  width: 50px;
  top: 35%;
}

#carrouselControl:hover{
  opacity: 0.3;
}

/* Coolor 1 */

.bg-orange{
  background-color: #F6BD60;
}

.orange{
  color: #F6BD60;
}

.bg-beige{
  background-color: #F7EDE2;
}

.beige{
  color: #F7EDE2;
}

.bg-salmon{
  background-color: #F5CAC3;
}

.salmon{
  color: #F5CAC3;
}

.bg-blue{
  background-color: #84A59D;
}

.blue{
  color: #84A59D;
}

.bg-red{
  background-color: #F28482;
}

.red{
  color: #F28482;
}

/* Coolor 2

.bg-l_green{
  background-color: #606C38;
}

.l_green{
  color: #606C38;
}

.bg-d_green{
  background-color: #283618;
}

.d_green{
  color: #283618;
}

.bg-l_yellow{
  background-color: #FEFAE0;
}

.l_yellow{
  color: #FEFAE0;
}

.bg-salmon{
  background-color: #DDA15E;
}

.salmon{
  color: #DDA15E;
}

.bg-d_orange{
  background-color: #BC6C25;
}

.d_orange{
  color: #BC6C25;
}

/* Coolor 3 */

/* .bg-d_blue{
  background-color: #0F3AB1;
}

.d_blue{
  color: #F6BD60;
}

.bg-l_blue{
  background-color: #B5E2FA;
}

.l_blue{
  color: #B5E2FA;
}

.bg-white{
  background-color: #F9F7F3;
}

.white{
  color: #F9F7F3;
}

.bg-yellow{
  background-color: #EDDEA4;
}

.yellow{
  color: #EDDEA4;
}

.bg-salmon{
  background-color: #F7A072;
}

.salmon{
  color: #F28482;
} */

/* Coolor 4 */

/* .bg-green{
  background-color: #8CB369;
}

.green{
  color: #8CB369;
}

.bg-yellow{
  background-color: #F4E285;
}

.yellow{
  color: #F4E285;
}

.bg-orange{
  background-color: #F4A259;
}

.orange{
  color: #F4A259;
}

.bg-blue{
  background-color: #5B8E7D;
}

.blue{
  color: #5B8E7D;
}

.bg-red_wine{
  background-color: #BC4B51;
}

.red_wine{
  color: #BC4B51;
} */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgb(197, 15, 15);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

/* stylelint-disable stylistic/selector-list-comma-newline-after */

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
